*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrap{
    display: flex;
    
    flex-direction: column;
}

.wrap .header{
    text-align: center;
}

.wrap .header ul{
    text-align: right;
}

.wrap .header ul li{
    padding: 10px;
    border-radius: 20px;
    margin: 20px;

    list-style: none;
    display: inline-block;
    
}

.wrap .body .body1{
    display: flex;
}



clear{
    clear: both;
}